:root{
    --c_green_text: #D4EFDF;
    --c_white: #ffffff;
    --c_text_color_dark: #042A18;
    --c_bg_gray: #D8DDD4;
    --c_btn_bg: #718138;
    --c_bg_footer: #3F5100;
    --c_bg_icon: #405D4F;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

header{
    z-index: 10;
}

.text_color_dark{
    color: var(--c_text_color_dark)!important;
}

.navbar-toggler span{
    color: var(--c_bg_icon)!important;
    pointer-events: none;
}

.navbar-toggler .close_icon{
    font-size: 2rem;
}

#menubar{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh!important;
   
}

.navbar-nav{
    margin-top: -8rem;
}

.navbar img{
    width: 10rem;
}

.collapse.show#menubar{
    display: flex;
}

.navbar-toggler-icon{
    pointer-events: none!important;
}

.nav-link{
    font-size: 1.5rem;
}

a.btn:hover{
    color: #ffffff!important;
}

a.btn:hover > img{
    margin-left: 1rem;
}

.navbar button, .navbar button:hover, .navbar button:active, .navbar button:focus{
    border: none;
    outline: none;
}

.nav-link{
    font-weight: normal;
    transition: font-weight .3s ease-in;
}

.active_menu, .nav-link:hover,.nav-link:focus{
    font-weight: 500;
    color: var(--c_btn_bg)!important;
}

.header-top{
    padding-top: 3.5rem;
}
.banner{
    background-color: var(--c_bg_gray);
}

.banner_title, .banner_video_description h1{
    font-size: 1.2rem;
}

.banner_title_sec_height{
    color: var(--c_green_text);
}

br {
    display: none;
}

.consult_btn{
    padding: .8rem 2rem;
    color: var(--c_white);
    background-color: var(--c_btn_bg);
}

.banner_image_placeholder{
    width: 100%;
    background: url(../images/eclectic-vertical-banner.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.owl-stage{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagebox .ib-content .ib-topbar .ib-buttons .ib-button{
    background-color: var(--c_btn_bg);
}

#imagebox .ib-content .ib-topbar .ib-buttons .ib-button:hover{
    background-color: #485a07;
}

#imagebox .ib-content .ib-control div{
    background-color: transparent!important;
    padding: 20px 15px;
}

#imagebox .ib-content .ib-control .ib-control-right, #imagebox .ib-content .ib-control .ib-control-left{
    box-shadow: 3px 0 16px rgb(0 0 0 / 50%)!important;
}

.banner_video .video-js{
    border-radius: 1rem;
    overflow: hidden;
}
iframe{
    border-radius: 1rem;
}

.services, .bottom_gray{
    background-color: var(--c_bg_gray);
}

.right_arrow_light{
   width: 1rem;
   margin-left: .5rem;
   transition: margin-left .2s linear;
}

.service_card_img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0.5rem;
}

.card{
    border-radius: 1rem;
}

.section_title{
    font-size: 1.5rem;
    display: inline-flex;
    background-color: var(--c_white);
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    top: -2rem;
    box-shadow: 5px -15px 15px rgba(146, 172, 126, 0.1);
}

.works .section_title{
    box-shadow: 5px 15px 15px rgba(146, 172, 126, 0.1)!important;
}

.works .container{
    padding-top: 6rem;
}

.work_carousel {
    margin-bottom: -3.125rem;
}

.owl-nav button{
    border-radius: .4rem!important;
}

.work_card{
    height: 30rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--c_white);
}

.work_card img{
    object-fit: cover;
    height: calc(30rem - 3.125rem);
}

.work_card .image_desc {
    height: 3.125rem;
}

.work_card .image_desc p{
    line-height: 3.125rem;
}


.contact .container{
   border-radius: 1rem;
   overflow: hidden;
}

.contact_left h1{
    font-size: 4rem;
}

.contact_left h1, p{
    color: var(--c_white);
}

.contact_image img{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.contact_left{
    background: url(../images/contact_us.jpg) no-repeat;
    background-size: cover;
    color: var(--c_bg_gray);
    position: relative;
}

.contact_left .contact_left_overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c_btn_bg);
    opacity: 0.8;
}

.contact_left h1, .contact_left .contact_info{
    /* padding-left: 10%; */
    z-index: 1;
    color: #ffffff;
}

.glassmorphism{
    display: inline-block;
    background: rgba(170, 179, 136, 0.5);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 1.5rem;
    /* border: 1px solid rgba(170, 179, 136, 0.5); */
}

.glassmorphism.info{
    /* padding: 2rem 1.5rem; */
    font-size: .75rem;
}

.social_media .glassmorphism{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(170, 179, 136, 0.5);
}

.social_media .glassmorphism a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media .glassmorphism a img{
    width: 25px;
    height: 25px;
}

.contact_us_icon{
    width: 1em;
}

.contact_us_icon.location{
    width: .8em;
    height: 1.2em;
}

.contact_form{
    background-color: var(--c_bg_gray);
}


.contact_form form input,.contact_form form textarea, .contact_form form select{
    border-radius: 1rem;
    padding: 1.5rem 1.6rem;
    outline: none;
    border: none;
}

.contact_form form select{
    height: 100%!important;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.custom-arrow{
    width: 50px;
    height: 100%;
    top: 0;
    right: 0;
    pointer-events: none;
}


.custom-arrow::before, .custom-arrow::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-arrow::before{
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid var(--c_bg_gray);
    top: 60%;
}

.custom-arrow::after{
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom: .5em solid var(--c_bg_gray);
    top: 45%;
}

.contact_form form input:focus,.contact_form form textarea:focus, .contact_form form select:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem var(--c_green_text);
}


.contact_form form input::placeholder,.contact_form form textarea::placeholder, .contact_form form select{
    color: #B3B6B7;
}

footer{
    height: 5rem;
}

footer p {
    color: #a1a1a1;
    line-height: 5rem;
}

.testnomial {
    padding-top: 6rem!important;
    background: var(--c_bg_gray);
}

.work_carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.work_carousel .owl-nav button.owl-prev{
    margin-left: -0.8rem!important;
}
.work_carousel .owl-nav button.owl-next{
    margin-right: -0.8rem!important;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    width: 1.875rem!important;
    height: 1.875rem!important;
    background: #718138 !important;
    border: 0;
}

.owl-theme .owl-nav{
    color: var(--c_white);
}
.feedback_section .owl-theme .owl-nav{
    padding-bottom: 2rem;
}

.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus{
  border: 0;
  outline: none;
}

.owl-prev span img{
    transform: rotate(180deg);
}

.form_submission_text{
    font-size: 1rem;
    color: var(--c_text_color_dark);
    font-weight: bold;
    border-left: 5px solid #4cac2d;
    background-color: #cbc1c1;
}

a, a:hover, a:focus {
    text-decoration:none;
}
    
.contact_us_icon + a, .address a{
    color: #ffffff!important;
}

.animate__animated {
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animate__fadeIn.collapse{
    animation-duration: .02s!important;
    -webkit-animation-duration: .02s!important;
}

.close_icon.animate__animated.animate__fadeIn{
    animation-delay: .15s!important;
    -webkit-animation-delay: .15s!important;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media Screen and (min-width: 320px){
    .banner_title, .banner_video_description h1{
        font-size: 1.425rem;
    }
}

@media Screen and (min-width: 360px){
    .banner_title, .banner_video_description h1{
        font-size: 1.6rem;
    }
}

@media Screen and (min-width: 375px){
    .banner_title, .banner_video_description h1{
        font-size: 1.71rem;
    }
}


@media Screen and (min-width: 400px){
    .banner_title, .banner_video_description h1{
        font-size: 1.87rem;
    }
}

@media Screen and (min-width: 768px){
    #my-video{
        height: 12.375rem;
    }
}

@media Screen and (max-width: 768px){
    
    header .container{
        padding-left: 0;
        padding-right: 0;
    }
    .banner_image{
        min-height: calc(80vh - 3.5rem);
    }
}
/* media queries */
@media Screen and (min-width: 920px){

   
    .nav-link{
        font-size: 2.5rem;
    }

    .navbar-brand img{
        width: 30%;
    }

    .header-top{
        padding-top: 3rem;
    }

    .banner{
        height: min(720px, calc(100vh - 3rem));
    }

    .banner_image{
        height: 100%!important;
    }

    .banner_title, .banner_video_description h1{
        font-size: 2rem;
    }

    .banner_title{
        margin-bottom: 3rem!important;
    }
    .title_desc{
        margin-bottom: 5rem!important;
    }
    .banner_content{
        padding-left: 14%;
        padding-right: 14%;
    }
   
    .section_title{
        font-size: 1.875rem;
    }

    .feedback_section{
        background-color: #241B0C;
    }
    .feedback_carousel .item{
        background-color: var(--c_white); 
        width: 75%;
        border-radius: 1rem;
    }

    .feedback_section .owl-theme .owl-nav{
        text-align: none!important;
        position: absolute!important;
        top: 50%!important;
        transform: translatey(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem; 
        color: #ffffff;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
        width: 3.125rem!important;
        height: 3.125rem!important;
    }

    .works .container{
        padding-top: 6.5rem;
    }

    .work_carousel .owl-nav button.owl-prev{
        margin-left: -4.125rem!important;
    }
    .work_carousel .owl-nav button.owl-next{
        margin-right: -4.125rem!important;
    }

    .work_carousel.owl-theme .owl-nav{
        z-index: -1!important;
    }

    .testnomial {
        padding-top: 8rem!important;
    }

    .vertical_cards {
        min-height: 41.06rem;
    }

    .right_arrow_light{
        width: 1.5rem;
    }

    .glassmorphism.info{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1024px){
    br {
        display: block;
    }
    .header-top{
        padding-top: 4.09rem;
    }

    .banner{
        height: min(720px, calc(100vh - 4.09rem));
    }
    .banner_title, .banner_video_description h1{
        font-size: 2.9rem;
    }
    .feedback_section .owl-theme .owl-nav{
        padding-left: 3.5rem;
        padding-right: 3.5rem; 
    }
    .vertical_cards {
        min-height: 48.06rem;
    }
}
/* ipad pro potrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .banner_content {
        padding-top: 0!important;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    .banner{
        height: calc(50vh - 4.09rem);
    }

    .banner_image_placeholder{
        height: calc(50vh - 4.09rem)!important;
    }
    .banner_title{
        font-size: 3.1rem;
        margin-bottom: 2rem!important;
    }

    .title_desc{
        margin-bottom: 3rem!important;
    }

    .vertical_cards{
        min-height: 45rem;
    }
    .feedbackrow {
        height: 25rem;
    }
    .works .container{
        padding-top: 7.5rem!important;
    }
    .feedback_section .owl-theme .owl-nav{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .work_carousel.owl-theme .owl-nav{
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        z-index: 1!important;
    }
}


/* ipad style portrait */
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .banner{
        height: calc(60vh - 4.09rem);
    }

    .banner_image_placeholder{
        height: calc(60vh - 4.09rem)!important;
    }

    .banner_content {
        padding-top: 0!important;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .banner_title{
        font-size: 2.3rem;
        margin-bottom: 2rem!important;
    }

    .title_desc{
        margin-bottom: 3rem!important;
    }
    .banner_title_sec_height {
        margin-top: 5vh;
    }
  
    .banner_video_description{
        padding-right: 0!important;
        padding-left: 1.5rem!important;
    }
    .card-body{
        padding: 1rem!important;
    }
    .vertical_cards{
        height: 638.13px;
    }

    .feedback_section{
        background-color: #241B0C;
        padding-right: 1rem;
    }

    .feedbackrow {
        height: 25rem;
    }

    .feedback_carousel .item{
        background-color: var(--c_white); 
        width: 75%;
        border-radius: 1rem;
        padding: 1rem!important;
    }

    .feedback_section .owl-theme .owl-nav{
        text-align: none!important;
        position: absolute!important;
        top: 50%!important;
        transform: translatey(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #ffffff;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
        width: 3.125rem!important;
        height: 3.125rem!important;
    }

    /* #user_query_form, .contact_left h1, .contact_left .contact_info{
        padding: .5rem!important;
    } */
}

/* ipad style landscape */
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    .banner_title{
        font-size: 1.92rem;
    }

    .vertical_cards{
        min-height: 45rem;
    }
}

/* ipad pro landscape */
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    .banner_title{
        font-size: 2.6rem;
        margin-bottom: 3rem!important;

    }
    .title_desc{
        margin-bottom: 5rem!important;
    }
}
